*.hex
*.elf
Makefile
/.vscode/
lab3/local_v2/.idea/misc.xml
lab3/local_v2/.idea/modules.xml
lab3/local_v2/.idea/vcs.xml
lab3/local_v2/cmake-build-debug/.ninja_deps
lab3/local_v2/cmake-build-debug/.ninja_log
lab3/local_v2/cmake-build-debug/build.ninja
lab3/local_v2/cmake-build-debug/cmake_install.cmake
lab3/local_v2/cmake-build-debug/CMakeCache.txt
lab3/local_v2/cmake-build-debug/local_v2
lab3/local_v2/cmake-build-debug/.cmake/api/v1/query/cache-v2
lab3/local_v2/cmake-build-debug/.cmake/api/v1/query/cmakeFiles-v1
lab3/local_v2/cmake-build-debug/.cmake/api/v1/query/codemodel-v2
lab3/local_v2/cmake-build-debug/.cmake/api/v1/query/toolchains-v1
lab3/local_v2/cmake-build-debug/.cmake/api/v1/reply/cache-v2-107c80d4c32ddfcc3a62.json
lab3/local_v2/cmake-build-debug/.cmake/api/v1/reply/cmakeFiles-v1-deb7f50199984eb61ab8.json
lab3/local_v2/cmake-build-debug/.cmake/api/v1/reply/codemodel-v2-eb3cfa5695509100a4eb.json
lab3/local_v2/cmake-build-debug/.cmake/api/v1/reply/directory-.-Debug-f5ebdc15457944623624.json
lab3/local_v2/cmake-build-debug/.cmake/api/v1/reply/index-2023-10-24T18-46-18-0254.json
lab3/local_v2/cmake-build-debug/.cmake/api/v1/reply/target-local_v2-Debug-1bf067adfa8ae9145672.json
lab3/local_v2/cmake-build-debug/.cmake/api/v1/reply/toolchains-v1-c047d413f931e24066aa.json
lab3/local_v2/cmake-build-debug/CMakeFiles/clion-Debug-log.txt
lab3/local_v2/cmake-build-debug/CMakeFiles/clion-environment.txt
lab3/local_v2/cmake-build-debug/CMakeFiles/cmake.check_cache
lab3/local_v2/cmake-build-debug/CMakeFiles/CMakeConfigureLog.yaml
lab3/local_v2/cmake-build-debug/CMakeFiles/rules.ninja
lab3/local_v2/cmake-build-debug/CMakeFiles/TargetDirectories.txt
lab3/local_v2/cmake-build-debug/CMakeFiles/3.26.4/CMakeCCompiler.cmake
lab3/local_v2/cmake-build-debug/CMakeFiles/3.26.4/CMakeDetermineCompilerABI_C.bin
lab3/local_v2/cmake-build-debug/CMakeFiles/3.26.4/CMakeSystem.cmake
lab3/local_v2/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.c
lab3/local_v2/cmake-build-debug/CMakeFiles/3.26.4/CompilerIdC/CMakeCCompilerId.o
lab3/local_v2/cmake-build-debug/CMakeFiles/local_v2.dir/main.c.o
lab3/local_v2/cmake-build-debug/CMakeFiles/local_v2.dir/neuralnet.c.o
lab3/local_v2/cmake-build-debug/CMakeFiles/local_v2.dir/proportional.c.o
lab3/local_v2/cmake-build-debug/Testing/Temporary/LastTest.log
